doctype html
html(lang='en')

	head
		style
			include ./styles.css
			script(src='https://fonts.googleapis.com/css?family=Proxima+Nova&display=swap')
	
	body
		h1 Syd Rothman

		.title-line

		h2 data scientist focused on football analytics // currently seeking spring 2020 opportunities

		br
		br
		br
		br

		.container
			.cat-box Football Analytics
				p General description of what I do in football analytics and what I’m interested in.
				.cat-line
			.cat-box Data Science
				p Portfolio of my data projects and a brief listing of my languages and skills.
				.cat-line
			.cat-box Web Dev
				p This just contains my tiny portfolio of web dev work, this is mostly for side hustles.
				.cat-line
			.cat-box Citizen Science
				p As much doc as possible on anything I contribute too- especially space stuff and enviro sci.
				.cat-line
//		ol
			li apple
			li banana
			li carrot

		p In order to link to another page on the site we use
			p a(href aboutme.pug) Projects

		a(href google.com, target=_blank) Google Man
		
		p the target attribute opens link in new tab