html {
  background: white;
  background-size: cover;
  margin-left: 3%;
  margin-right: 3%;
}

body {
}

h1 {
  color: black;
  font-size: 3vw;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: normal;
}

h2 {
  font: 'Proxima Nova', sans-serif;
  color: black;
  font-size: 1.5vw;
  font-weight: normal;
}

p {
  font: 'Garamond', serif;
  color: black;
  font-size: 1.3vw;
}

.container {
  display: block;
  text-align: center;
}

.title-line {
  border-top: .1vw solid black;
}


.cat-box {
  width: 15%;
  border: black;
  border-size: 2px;
  font: 'Garamond', serif;
  font-size: 2vw;
  text-align: center;
  text-overflow: none;
  display: inline-block;
  padding: 5%;
}

.cat-line {
  border-top: .1vw solid black;
  width: 90%;
  padding: 5%;
  border-style: 
}
